<div class="menu">
            <div id="menu_asset" class="menu-item openmenu">
                <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                <span>资产管理</span>
                <div class="expand sonmenu" >
                    <a>测试管理</a>
                    <a>测试记录</a>
                </div>
            </div>
            <div id="menu_user_profile" class="menu-item openmenu">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span>用户管理</span>
                <div class="expand sonmenu" >
                    <a>测试管理</a>
                    <a>测试记录</a>
                </div>
            </div>
            <div class="menu-item openmenu">
                <i class="fa fa-free-code-camp" aria-hidden="true"></i>
                <span>业务管理</span>
                <div class="expand sonmenu" >
                    <a>测试管理</a>
                    <a>测试记录</a>
                </div>
            </div>
            <div class="menu-item openmenu" >
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                <span>IDC管理</span>
                <div class="expand sonmenu" >
                    <a>测试管理</a>
                    <a>测试记录</a>
                </div>

            </div>
            <div class="menu-item openmenu">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                <span>标签管理</span>
                <div class="expand sonmenu" >
                    <a>测试管理</a>
                    <a>测试记录</a>
                </div>
            </div>
            <div class="menu-item openmenu">
                <i class="fa fa-desktop" aria-hidden="true"></i>
                <span>日志管理</span>
                <div class="expand sonmenu" >
                    <a class ="nodemenu">测试管理</a>
                    <a>测试记录</a>
                </div>
            </div>
        </div>